@import url("photographer.css");

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

h1 {
    color: #901c1c;
    margin-right: 100px;
}
p {
    margin: 5px;
}

a {
    text-decoration: none;
}
.logo {
    height: 50px;
    margin-left: 100px;
}

.photographersContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 100px;
}

.photographersContainer article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.photographersContainer article h2 {
    color: #d3573c;
    font-size: 36px;
    margin-bottom: 0;
}

.photographersContainer article img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background: #c4c4c4;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
}

.photographersContainer article .localisation {
    color: #901c1c;
    font-size: 13px;
}

.photographersContainer article .tagline {
    font-size: 10px;
}

.photographersContainer article .price {
    color: #757575;
    font-size: 9px;
}

